*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(45deg,orange,white,green);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container{
    position: relative;
    width: 60vw;
    height: 80vh;
}

.image-container-before,
.image-container-after{
    position: absolute;
    width: 60vw;
    height: 80vh;
}

.image-container-before{
    width: 60vw;
    overflow: hidden;
}

img{
    width: 60vw;
    height: 80vh;
    object-fit: cover;
}

.slider{
    width: 0.2rem;
    background: white;
    height: 100%;
    position: absolute;
    top: 5;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    pointer-events: none;
}

h1{
    display: flex;
    margin-top: -50px;
    color: green;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.ro{
    color: blue;
    font-size: 50px;
}
.ko{
    color: red;
    font-size: 50px;
}